<div id="header-container" class="container-light">

    <!-- Static title -->
    <h2 id="title">Github Repository Browser</h2>

    <!-- Active content -->
    <div id="active-content">
        <!-- Navigation links -->
        <div id="navigation-link-container">
            <a routerLink="/search" routerLinkActive="active-route">Search</a>
            <a routerLink="/history" routerLinkActive="active-route">History</a>
        </div>

        <!-- Menu -->
        <div id="menu-container">
            <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
            <button pButton icon="pi pi-list" (click)="menu.toggle($event)"></button>
        </div>
    </div>

</div>
