$padding-amount: 1em;

#header-container {
    display: flex;
    align-items: center;
    padding: 0 $padding-amount 0 $padding-amount;
    border-bottom: 2px solid wheat;

    position: sticky;
    top: 0;
    z-index: 1000;
}

#title {
    margin-right: $padding-amount;
}

#active-content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    #navigation-link-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

a {
    font-weight: bold;
    padding: 0.5em;
    &.active-route {
        border-bottom: 2px solid var(--primary-color);
    }
}

// Without this the menu would appear in wrong places when the page is scrolled down
#menu-container::ng-deep {
    p-menu {
        position: fixed;
        top: 3em;
        right: 1em;
        .ui-menu.ui-widget.ui-widget-content {
            position: static;
        }
    }
}
