<div *ngIf="hasSelectedOperator">
    <form [formGroup]="formGroup" class="p-grid p-nogutter p-form-inline">
        <div
            *ngFor="let control of valueControls; let i = index"
            class="p-field"
            formArrayName="values"
        >
            <label>{{ getLabelForControl(i) }}</label>
            <p-calendar
                [formControlName]="i"
                dateFormat="yy-mm-dd"
                [monthNavigator]="true"
                [yearNavigator]="true"
                [yearRange]="yearRange"
                [readonlyInput]="true"
                [showButtonBar]="true"
                [showIcon]="true"
            ></p-calendar>
            <app-error-message-displayer [control]="control"></app-error-message-displayer>
        </div>
    </form>
</div>
