<div class="table-row container-dark">

    <!-- 1st column, name -->
    <div class="name-column p-grid p-nogutter p-dir-col p-align-start p-justify-center">
        <label class="important-text">{{rowItem.repositoryName}}</label>
        <a [href]="rowItem.repositoryUrl" target="_blank">{{rowItem.repositoryFullName}}</a>
    </div>
    <!-- 2th column, stars and watchers -->
    <div class="p-grid p-nogutter p-dir-col p-align-start p-justify-center">
        <label>Stars: {{rowItem.stars}}</label>
        <label>Watchers: {{rowItem.watchers}}</label>
    </div>
    <!-- 3th column, forks and issues -->
    <div class="p-grid p-nogutter p-dir-col p-align-start p-justify-center">
        <label>Forks: {{rowItem.forks}}</label>
        <label>Issues: {{rowItem.issues}}</label>
    </div>
    <!-- 4th column, description -->
    <div class="p-grid p-nogutter p-align-center p-justify-start">
        <span>{{rowItem.description}}</span>
    </div>
    <!-- 5th column, languages -->
    <div class="p-grid p-nogutter p-align-center p-justify-start">
        <label class="language-label">{{rowItem.language}}</label>
    </div>
    <!-- 6th column, created and updated -->
    <div class="p-grid p-nogutter p-dir-col p-align-start p-justify-center">
        <label>Created at: {{rowItem.created | date: 'yyyy.mm.dd'}}</label>
        <label>Updated at: {{rowItem.updated | date: 'yyyy.mm.dd'}}</label>
    </div>
    <!-- 7th column, owner -->
    <div class="owner-column p-grid p-nogutter p-align-center p-justify-end">
        <label>By: {{rowItem.ownerLoginName}}</label>
        <a [href]="rowItem.ownerWebsiteUrl" target="_blank">
            <img [src]="rowItem.ownerAvatarUrl" class="owner-avatar">
        </a>
    </div>

</div>
