.table-row {
    display: grid;
    grid-template-columns: minmax(8em, 5fr) 7em 7em 5fr 2fr 10em 3fr;
    column-gap: 1em;

    margin-bottom: .5em;
    padding: .5em;
    border-radius: 8px;
    border: 1px solid transparent;

    &:hover {
        border-color: wheat;
        background-color: rgba(0, 0, 0, .5);
    }

    transition: all .25s;

    & > .name-column {
        overflow: hidden;
        &:hover {
            overflow: visible;
            label, a {
                background-color: black;
                z-index: 9000;
            }
        }
    }
}

.language-label {
    background-color: var(--layer-2);
    border-radius: 8px;
    padding: .5em;
}

@media screen and (max-width: 992px) {
    .table-row {
        grid-template-columns: repeat(auto-fit, 10em);
        column-gap: 2em;
        row-gap: 2em;
    }

    .owner-column {
        justify-content: flex-start;
    }
}

.important-text {
    font-size: 1.25em;
    font-weight: bold;
}


.owner-avatar {
    width: 4em;
    border-radius: 50%;
    margin-left: .7em;
}
