<div>

    <!-- Search filters -->
    <div>
        <app-search-filters></app-search-filters>
    </div>

    <!-- Search result list -->
    <div>
        <app-search-result-list></app-search-result-list>
    </div>

</div>
