label.required-label::after {
    content: ' *';
    color: red;
}

.control-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: .5em;
    margin-right: .5em;

    & > label {
        margin-right: .5em;
    }
}
