/* The css variables come from PrimeNG */
@import './forms';

body {
    margin: 0;
}

.container-dark {
    background-color: var(--layer-1);
}

.container-light {
    background-color: var(--layer-2);
    color: var(--text-color);
}
