<!-- Sticky header -->
<app-header></app-header>

<!-- Progress spinner -->
<div
    *ngIf="isSpinnerOn$ | async"
    id="spinner-container"
    class="p-grid p-nogutter p-align-center p-justify-center"
>
    <p-progressSpinner strokeWidth="4"></p-progressSpinner>
</div>

<!-- Messages -->
<p-toast [position]="messagePosition$ | async"></p-toast>

<!-- Routing -->
<router-outlet></router-outlet>
