<div id="result-list-container" class="container-light">
    <!-- When there are items to display -->
    <div
        id="result-table"
        *ngIf="hasItems$ | async; else emptyTablePlaceholder"
        @growInShrinkOut
    >
        <!-- Configuration row -->
        <div class="table-part-container">
            <app-table-header></app-table-header>
        </div>

        <!-- Result table -->
        <div class="table-part-container">
            <app-table-row
                *ngFor="let currentItem of items$ | async"
                [rowItem]="currentItem"
            ></app-table-row>
        </div>

        <!-- Pagination -->
        <div class="table-part-container">
            <app-table-footer></app-table-footer>
        </div>
    </div>

    <!-- When no items can be displayed -->
    <ng-template #emptyTablePlaceholder>
        <div class="p-grid p-nogutter p-align-center p-justify-center">
            <h2 id="empty-table-title">There are no search results</h2>
        </div>
    </ng-template>
</div>
