.slider-field {
    padding: .5em;
    .slider-label {
        margin-bottom: .5em;
        width: 14em;
    }

    .value-label {
        margin-left: .5em;
        font-weight: bold;
        color: #ffba01;
    }
}
