<div *ngIf="hasSelectedOperator" class="p-grid p-nogutter p-form-inline">
    <!-- The form is chosen by whether the selected operator is binary or not -->
    <ng-container
        *ngTemplateOutlet="
            isBinaryOperator ? onBinaryOperator : onUnaryOperator
        "
    ></ng-container>
</div>

<!-- When some other operator is selected -->
<ng-template #onUnaryOperator>
    <form [formGroup]="unaryFormGroup">
        <div class="p-field">
            <label>Number:</label>
            <input formControlName="singleValue" type="number" pInputText />
        </div>
    </form>
</ng-template>

<!-- When the BETWEEN operator is selected -->
<ng-template #onBinaryOperator>
    <form [formGroup]="binaryFormGroup" class="p-formgroup-inline">
        <!-- Min and max values -->
        <div class="p-field">
            <label>Min:</label>
            <input formControlName="min" type="number" pInputText />
            <app-error-message-displayer [control]="binaryFormGroup.controls['min']"></app-error-message-displayer>
        </div>
        <div class="p-field">
            <label>Max:</label>
            <input formControlName="max" type="number" pInputText />
            <app-error-message-displayer [control]="binaryFormGroup.controls['max']"></app-error-message-displayer>
        </div>

        <!-- Range picker and a label for it -->
        <div class="p-field slider-field" *ngIf="binaryFormGroup.valid">
            <label class="slider-label"
                >Selected range:
                <label class="value-label"
                    >{{ binaryFormGroup.controls["values"].value[0] }} -
                    {{ binaryFormGroup.controls["values"].value[1] }}</label
                >
            </label>
            <p-slider
                formControlName="values"
                [range]="true"
                [min]="binaryFormGroup.controls['min'].value"
                [max]="binaryFormGroup.controls['max'].value"
            ></p-slider>
        </div>
    </form>
</ng-template>
