<div class="values-with-operator-container">
    <form [formGroup]="formGroup">

        <!-- Title and operators -->
        <div
            id="title-and-operators"
            class="ui-fluid p-formgrid p-grid p-nogutter p-field"
        >
            <!-- Icon and title -->
            <div class="p-grid p-field p-nogutter">
                <i *ngIf="hasIcon" [class]="icon"></i>
                <h3 class="title">{{ title }}</h3>
            </div>
            <!-- Operator radio buttons -->
            <div *ngFor="let operator of operators" class="p-field-radiobutton">
                <p-radioButton
                    name="operator"
                    [value]="operator"
                    formControlName="operator"
                    [label]="operator.displayName"
                >
                </p-radioButton>
            </div>
        </div>

        <!-- Value component based on type -->
        <ng-container *ngTemplateOutlet="type === 'number' ? numberValues : dateValues"></ng-container>

        <!-- Template for number values -->
        <ng-template #numberValues>
            <app-number-values
                *ngIf="type === 'number'; else dateValues"
                formControlName="values"
                [selectedOperator]="formGroup.controls['operator'].value"
            ></app-number-values>
        </ng-template>

        <!-- Template for date values -->
        <ng-template #dateValues>
            <app-date-values
                formControlName="values"
                [selectedOperator]="formGroup.controls['operator'].value"
            ></app-date-values>
        </ng-template>

    </form>

</div>
