.values-with-operator-container {
    border-radius: 8px;
    padding: 8px;
    color: var(--primary-color-text);
    background-color: var(--text-color-secondary);
}



#title-and-operators {
    i {
        display: flex;
        align-items: center;
        font-size: .85em;
        font-weight: bold;
        margin-right: .5em;
        color: var(--layer-0);
    }

    .title {
        margin-right: .5em;
    }

    .p-field-radiobutton {
        margin-left: .5em;
    }

    & * {
        margin-bottom: 0;
        margin-top: 0;
    }
}
