.pagination-control {
    margin-right: 1em;
    &:last-child {
        margin-right: 0;
    }

    &::ng-deep {
        .ui-dropdown {
            min-width: unset;
        }
    }
}

#last-page-label {
    margin-left: .5em;
}
