<div id="table-footer-container" class="p-grid p-nogutter p-align-center p-justify-center">

    <!-- Previous page button -->
    <div class="pagination-control">
        <p-button
            icon="pi pi-chevron-left"
            styleClass="ui-button-secondary"
            label="Prev"
            (onClick)="requestPreviousPage()"
            [disabled]="!(hasPreviousPage$ | async)"
        >
        </p-button>
    </div>

    <!-- Page chooser -->
    <div class="pagination-control">
        <p-dropdown
            [options]="pageChooserOptions"
            [ngModel]="currentPageIndex$ | async"
            (onChange)="requestPage($event.value)"
        ></p-dropdown>
        <label id="last-page-label">/ {{lastPageIndex$ | async}}</label>
    </div>

    <!-- Next page button -->
    <div class="pagination-control">
        <p-button
            icon="pi pi-chevron-right"
            styleClass="ui-button-secondary"
            label="Next"
            iconPos="right"
            (onClick)="requestNextPage()"
            [disabled]="!(hasNextPage$ | async)"
        ></p-button>
    </div>

</div>
