hr {
    margin: 0;
}

#search-filters-container {
    display: flex;
    padding: 1em;

    form {
        flex-grow: 1;
    }
}

#toggle-button-container {
    margin-left: 1em;
}

#search-button-container::ng-deep {
    & .search-button:first-child {
        margin-right: 1em;
    }
}

#search-in-label {
    margin-right: .5em;
}
