<div id="search-filters-container" class="container-light">

    <form [formGroup]="mainFormGroup" class="p-grid p-nogutter">

        <!-- Search by -->
        <div id="search-by-container" formGroupName="basicSearchFilters" class="ui-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-5 p-lg-4">
                <label for="search-by-text" [class.required-label]="!(isInAdvancedMode$ | async)">Search by</label>
                <input id="search-by-text" formControlName="searchText" pInputText  >
                <app-error-message-displayer [control]="basicSearchGroup.controls['searchText']"></app-error-message-displayer>
            </div>

            <div id="search-in-container" formGroupName="searchIn"
                 class="p-formgroup-inline p-field p-col-12 p-md-7 p-lg-8 p-align-center">
                <label id="search-in-label" for="search-in-container">In:</label>
                <div class="p-field-checkbox">
                    <p-checkbox [formControl]="getCheckboxControl('name')" [binary]="true" label="Name"></p-checkbox>
                </div>
                <div class="p-field-checkbox">
                    <p-checkbox [formControl]="getCheckboxControl('description')" [binary]="true" label="Description"></p-checkbox>
                </div>
                <div class="p-field-checkbox">
                    <p-checkbox [formControl]="getCheckboxControl('readme')" [binary]="true" label="Readme"></p-checkbox>
                </div>
                <app-error-message-displayer [control]="basicSearchGroup.controls['searchIn']['controls']['name']"></app-error-message-displayer>
            </div>
        </div>

        <!-- Advanced search -->
        <div formGroupName="advancedSearchFilters"
            *ngIf="isInAdvancedMode$ | async"
            id="advancedSearchContainer"
            class="ui-fluid p-formgrid p-grid"
            @growInShrinkOut>

            <div class="p-field p-col-12 p-md-6">
                <label for="user-name">User name</label>
                <input id="user-name" formControlName="username" pInputText>
                <app-error-message-displayer [control]="advancedSearchGroup.controls['username']"></app-error-message-displayer>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="organization">Organization</label>
                <input id="organization" formControlName="organization" pInputText>
                <app-error-message-displayer [control]="advancedSearchGroup.controls['organization']"></app-error-message-displayer>
            </div>

            <div class="p-field p-col-12 p-md-6">
                <label for="languages">Languages</label>
                <p-chips formControlName="languages" inputId="languages" separator="," [addOnBlur]="true"></p-chips>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="topics">Topics</label>
                <p-chips formControlName="topics" inputId="topics" separator="," [addOnBlur]="true"></p-chips>
            </div>

            <!-- Values with operator -->
            <div class="p-field p-col-12 p-md-6">
                <app-values-with-operator type="number" title="Stars" icon="pi pi-star" formControlName="stars"></app-values-with-operator>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <app-values-with-operator type="date" title="Created" icon="pi pi-calendar-plus" formControlName="created"></app-values-with-operator>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <app-values-with-operator type="number" title="Size" icon="pi pi-sort-alt" formControlName="size"></app-values-with-operator>
            </div>
        </div>

        <!-- Buttons -->
        <div id="search-button-container" class="p-grid p-nogutter p-align-center">
            <p-button label="Search" (onClick)="search()" icon="pi pi-search" styleClass="ui-button-success search-button"></p-button>
            <p-button label="Reset" (onClick)="reset()" icon="pi pi-times" styleClass="ui-button-warning search-button"></p-button>
        </div>

    </form>

    <div id="toggle-button-container">
        <button pButton icon="{{toggleSearchModeIcon$ | async}}" (click)="toggleAdvancedSearch()"></button>
    </div>

</div>
