#configuration-container {
    & label {
        margin-right: .5em;
    }

    & .configuration {
        margin-right: 1em;
        margin-bottom: .5em;
    }
}

#total-results {
    margin-right: 1em;
    margin-bottom: .5em;
}

.configuration::ng-deep {

    // This aligns the button of p-selectButton to center vertically
    & .ui-selectbutton {
        display: flex;
    }

    // This leaves some space between the buttons of p-selectButton
    & .ui-button.ui-widget.ui-state-default.ui-button-text-only.ng-star-inserted {
        margin-right: .5em;
    }
}
