<div
    id="table-header-container"
    class="p-grid p-nogutter p-align-center p-justify-between"
>
    <!-- Configurations -->
    <div id="configuration-container" class="p-formgroup-inline">
        <!-- Sort by -->
        <div class="p-grid p-nogutter p-align-center configuration">
            <label>Sort by:</label>
            <p-selectButton
                [options]="sortByOptions"
                (onChange)="setSortBy($event.value)"
                [ngModel]="sortBy$ | async"
            ></p-selectButton>
        </div>
        <!-- Order by -->
        <div class="p-grid p-nogutter p-align-center configuration">
            <label>Order by:</label>
            <p-selectButton
                [options]="orderByOptions"
                (onChange)="setOrderBy($event.value)"
                [ngModel]="isAsc$ | async"
                [disabled]="!(hasSortBy$ | async)"
            ></p-selectButton>
        </div>
    </div>

    <!-- Total results -->
    <div id="total-results">
        <label>Total results: {{ totalResults$ | async }}</label>
    </div>
</div>
